.logotipo{
    width: 55px;
    padding: 2px 0;
}
.iconos-redes-header{
    width: 20px;
    margin: 10px 5px;
}
.carousel-inner img {
    width: 100%;
    max-height: 500px;
}

.carousel-inner{
 height: 500px;
}

.bamer{
    width: 408px;
     padding: 2px 0;
}
.bamer2{
    width: 350px
}
fieldset{
    font-weight: normal;
    border: 1px solid #434343;
    border-radius: 10px;
    font-size: 35px;
    font-family:helvetica;

    font-weight: lighter;
    margin: 0 auto;
    width: 90%;
   
}
h4{
    background-color:#434343;
    color:  snow;
}

.slider0 {
    margin-right: 20px;
    float: right;
    width: 100%;
    overflow: hidden;
} 
.slider0 ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: cambio 15s infinite alternate; 
}
.slider0 li{
    width:100%;
    list-style:none;
}
.slider0 img{
    width:100%;
}
footer{
    background-color: #000000;
    padding: 40px 0;
    text-align: center;
}
footer .logotipo-footer{
    width: 55px;
    margin-bottom: 20px;
}

footer p{
    color: #fff;
}
/*segundo*/
.slideruno{
    margin-right: 20px;
    float: right;
    width: 100%;
    overflow: hidden;
}
.slideruno ul{
    display: flex;
    padding: 0;
    width: 200%;
    animation: cambio 15s infinite alternate;
    
}
.slideruno li{
    width:100%;
    list-style:none;
}
.slideruno img{
    width:100%;
}

 @keyframes cambio{
    0%{margin-left:0;}
    25%{margin-left:0;}
    50%{margin-left:-100%;}
    75%{margin-left:-100%;}  
}

.celda{
    margin: 0 auto;
    border: 1px solid #434343;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap:15px;
    columns-gap: 10px;
}
.titulo{
    font-size: 2rem;
    color: grey;
    font-weight: 900;
    font-size: 30px;
    text-indent: 10%;
    text-align: center;
}
.container .row .col .card:hover{
    transform: translateY(-15px);
    transition: all .45s ease-in-out;
}






